<!DOCTYPE html>
<html lang="es"
      th:replace="~{layouts/admin/main-layout :: main-fragment(
                                                ~{:: #index-static-resources},
                                                ~{:: #index-header-main-nav},
                                                ~{:: #index-main-content},
                                                ~{:: #index-js-resources}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SB Admin Molla Store - Product</title>
</head>

<body id="page-top">
<div id="index-main-content">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Product Database</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex">
            <!--                <h6 class="m-0 font-weight-bold text-primary mr-auto">Product Database</h6>-->
            <a class="btn btn-outline-success" href="">Add</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>
                            <a class="btn btn-outline-primary" href="">Edit</a>
                            <a class="btn btn-outline-danger" href="">Del</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>2011/07/25</td>
                        <td>
                            <a class="btn btn-outline-primary" href="">Edit</a>
                            <a class="btn btn-outline-danger" href="">Del</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({});
    });
</script>
</body>

</html>