<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/web/config-layout :: config-fragment (
                                                ~{::title},
                                                ~{:: #index-static-resources},
                                                ~{:: #index-main-content},
                                                ~{:: #index-js-resources}
                                               )}">
<head>
    <title>Molla Furniture Store - Login</title>
</head>

<body>
<div id="index-main-content">
    <div class="page-wrapper">
        <div class="header">
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img th:src="@{/web/assets/images/logo.png}" alt="Molla Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <a href="" class="text-info">Can I help you?</a>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </div>
        <div class="container-fluid login-page bg-image pt-8 pb-8 pt-md-5 pb-md-5 pt-lg-17 pb-lg-17" th:style="'background-image:url('+@{/web/assets/images/backgrounds/login-bg-2.jpg}+');'">
            <div class="container newsletter-popup-container" >
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="row no-gutters bg-white newsletter-popup-content">
                            <div class="col-xl-2-5col col-lg-5 ">
                                <img th:src="@{/web/assets/images/popup/newsletter/img-1.jpg}" class="newsletter-img" alt="newsletter">
                            </div>
                            <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                                <div class="banner-content text-center mb-10">
                                    <div id="form-forgot-password">
                                        <img th:src="@{/web/assets/images/popup/newsletter/logo.png}" class="logo" alt="logo" width="60" height="15">
                                        <h4 class="title">Forgot Your Password?</h4>
                                        <p>Enter your e-mail address and we'll send you a link to reset your password.</p>
                                        <form id="forgotPassword" class="" action="#!" method="post">
                                            <div class="mb-4">
                                                <div class="input-group input-group-round">
                                                    <input type="email" id="forgotEmail" name="email" class="form-control form-control-white" placeholder="Your Email Address" aria-label="Email Adress" required="">
                                                    <div class="input-group-append">
                                                        <button class="btn" type="submit"><span>SEND</span></button>
                                                    </div><!-- .End .input-group-append -->
                                                </div><!-- .End .input-group -->
                                                <label id="label-forgot-password" class="text-danger float-left"></label>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="form-notify-email" class="d-none">
                                        <img class="logo" th:src="@{/web/assets/images/email-logo.png}" alt="">
                                        <h4 class="title">Verify Your Email Address?</h4>
                                        <p>Verification code has been sent to email address  <b id="verify-email" class="text-primary">lamlb12@gmail.com</b>. Please verify!</p>
                                    </div>
                                    <a th:href="@{/login}" class="float-left" style="font-size: 3rem;"><i class="icon-long-arrow-left"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End .login-page section-bg -->
        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img th:src="@{/web/assets/images/logo.png}" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img th:src="@{/web/assets/images/payments.png}" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div>
</div>

</body>
</html>