<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/web/config-layout :: config-fragment (
                                                ~{::title},
                                                ~{:: #index-static-resources},
                                                ~{:: #index-main-content},
                                                ~{:: #index-js-resources}
                                               )}">
<head>
    <title>Molla Furniture Store - Login</title>
</head>

<body>
<div id="index-main-content">
    <div class="page-wrapper">
        <div class="header">
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img th:src="@{/web/assets/images/logo.png}" alt="Molla Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <a href="" class="text-info">Can I help you?</a>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </div>
        <div class="container-fluid login-page bg-image pt-8 pb-8 pt-md-5 pb-md-5 pt-lg-17 pb-lg-17" th:style="'background-image: url('+@{/web/assets/images/backgrounds/login-bg-2.jpg}+')'">
            <div class="container newsletter-popup-container" >
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="row no-gutters bg-white newsletter-popup-content">
                            <div class="col-xl-2-5col col-lg-5 ">
                                <img th:src="@{/web/assets/images/popup/newsletter/img-1.jpg}" class="newsletter-img" alt="newsletter">
                            </div>
                            <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                                <div class="banner-content mb-5">
                                    <img th:src="@{/web/assets/images/popup/newsletter/logo.png}" class="logo" alt="logo" width="60" height="15">
                                    <h4 class="title text-center">Reset Your Password</h4>
                                    <p>You can reset your password using this form.</p>
                                    <form id="resetPassword" action="#!" method="post">
										<input type="hidden" name="email" th:value="${email}">
                                        <div class="form-group">
                                            <label for="new-password">New Password *</label>
                                            <input type="password" class="form-control" id="new-password" name="password" required>
                                            <label id="label-new-password" class="text-danger"></label>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="confirm-password">Confirm Password *</label>
                                            <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required>
                                            <label id="label-confirm-password" class="text-danger"></label>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer d-flex justify-content-center">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>RESET PASSWORD</span>
                                            </button>
                                        </div><!-- End .form-footer -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End .login-page section-bg -->
        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img th:src="@{/web/assets/images/logo.png}" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img th:src="@{/web/assets/images/payments.png}" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div>
</div>
</body>
</html>